/* 
  #849d8f - цвет 1-го фона
  #8996a6 - цвет 2-го фона
  #9d8b84 - цвет 3-го фона
*/

*,
*:active,
*:focus {
  border: none;
  outline: none;
}

p, h1, h2 {
  margin: 0;
}

body {
  font-family: "Roboto", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
/*
  background: url("../img/bg-1.png") no-repeat 50% 8px;
  background-size: 1200px auto;
*/
/*
  background: url("../img/bg-2.png") no-repeat 50% 8px;
  background-size: 1200px auto;
*/
}

h1 {
  font-size: 35px;
  line-height: 41px;
}

h2 {
  font-size: 35px;
  line-height: 41px;
}

.wrapper {
  box-sizing: border-box;
  display: table;
  width: 100%;
  padding: 8px 8px 0;
  margin: 0 auto;
  background-color: #849d8f;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), transparent 656px);
}

/*
.wrapper.index {
  background-color: #849d8f;
  background-image: radial-gradient(circle at 50% 15%, #cff6e1, #849d8f 530px);  
}
*/

.container {
  width: 1146px;
  padding: 0 27px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*  //////////
  ↓ HEADER ↓  
//////////  */

.page-header {
  padding-top: 23px;
  
/*  background: rgba(190, 255, 5, 0.4);*/
}

.page-header .container {
/*  background: rgba(255, 207, 5, 0.4);*/
}

.page-header-navigation {
  float: left;
  width: 560px;
  
/*  background: rgba(255, 144, 5, 0.4);*/
}

.page-header-user {
  position: relative;
  float: right;
  width: 560px;
  min-height: 50px;
  font-size: 0;
  text-align: right;
  
/*  background: rgba(255, 144, 5, 0.4);*/
}

.navigation-list {
  box-sizing: border-box;
  float: left;
  width: 396px;
  min-height: 50px;  
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-left: 14px;
  font-size: 0;
  list-style: none;  
/*  background: rgba(255, 93, 5, 0.4);*/
}

.navigation-list ul {
  margin: 0;
  padding: 0;
}

.navigation-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 28px;
}

.navigation-list li:last-child {
  margin-right: 0;
}

.navigation-list a {
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.list-item:hover > a,
.list-item:active > a {
  padding: 8px 14px;
  margin: -8px -14px;
  border-radius: 25px;
  background: #f7f6f3;
  color: #333333;
  border: none;
}

.list-item > a:active {
  background: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.navigation-list > .list-item {
  position: relative;
}

.page-header-sub-nav {
  position: absolute;
  left: -9999px;
  opacity: 0;
  border-radius: 5px;
  width: 143px;
  height: 171px;
  background: #f8f7f4;
}

.page-header-sub-nav a {  
  border: none;
}

.sub-list-item:hover a {
  background: #fbded8;
}

.page-header-sub-nav a {
  box-sizing: border-box;
  width: 143px;
  height: 32px;
  padding-top: 7px;
  padding-left: 21px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  font-weight: 400;
}

.new-items a {
  position: relative;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 4px;
  padding-top: 5px;
  font-weight: 700;
}

.new-items a::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -64px;
  bottom: 0;
  width: 128px;
  height: 1px;
  background: rgba(53, 53, 53, 0.2);
}

.list-item-catalog:hover .page-header-sub-nav {
  z-index: 2;
  top: 26px;
  left: -20px;
  opacity: 1;
}

.sub-list-item a:active {
  background: #f6b5a5;
}

.list-item.current > a {
  padding: 8px 14px;
  margin: -8px -14px;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  background: #d07058;
}

.sub-list-item.current a {
  color: #ffffff;
  background: #d07058;  
}


.page-header-logo {
  position: relative;
  float: left;
  width: 148px;
  min-height: 50px;  
  margin-right: 16px;
  
/*  background: rgba(255, 93, 5, 0.4);*/
}

.page-header-logo img {
  position: absolute;
  top: -14px;
  left: -6px;
}

.page-header-info {
  float: right;
  width: 170px;
  font-size: 0;
  line-height: 15px;
  text-align: right;
}

.page-header-info .info-time {
  font-size: 14px;
  line-height: 16px;
}

.page-header-info .info-phone {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
}

.breadcrumbs {
  float: left;
  width: auto;
  margin-top: 25px;  
  font-size: 0;
}

.breadcrumbs a {
  position: relative;
  margin-right: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs a::after {
  content: "»";
  position: absolute;
  right: -15px;
  pointer-events: none;
}

.breadcrumbs a:not(:last-child):hover,
.breadcrumbs a:not(:last-child):active {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}

.breadcrumbs a:hover::after,
.breadcrumbs a:active::after {
  color: #ffffff;
}

.breadcrumbs a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a.current {
  border: none;
  cursor: default;
}

.breadcrumbs a.current::after {
  display: none;
}

.page-header-user .button-light {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
}

.button-light.button-search {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url("../img/icon-search.svg") no-repeat 50% 50%;
  cursor: pointer;
}

.button-light.button-search:hover {
  background: #ffffff url("../img/icon-search-hover.svg") no-repeat 50% 50%;
}

/*
.button-light.button-search:hover ~ .search-box {
  display: block;
}
*/

.box {
  display: none;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-box {
/*  display: block;*/
  top: 36px;
  left: -10px;
  width: 341px;
  height: 84px;
  padding: 20px 15px;
}

.search-box input[type="search"] {
  box-sizing: border-box;
  width: 311px;
  height: 44px;
  font-size: 14px;
  line-height: 24px;
}

.button-light.button-login {
  position: relative;
  width: 92px;
  height: 32px;
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 35px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.button-light.button-login::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 20px;
  height: 19px;
  background: url(../img/icon-login.svg) no-repeat;
}

.button-light.button-login:hover {
  color: #323232;
  background: #f8f7f4;
}

.button-light.button-login:hover::before {
  background: url("../img/icon-login-hover.svg") no-repeat;
}

.login-box {
/*  display: block;*/
  top: 36px;
  left: 156px;
  width: 277px;
  height: 214px;
  padding: 20px 17px 20px 19px;
}

.login-box input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px;
}

.button-sign-in {
  float: left;
  width: 100px;
  height: 44px;
  font-size: 18px;
  padding-top: 2px;
  line-height: 24px;
  border-radius: 20px;
}

.forgot {
  float: right;
  width: 120px;
  font-size: 13px;
  line-height: 21px;
  text-align: left;
}

.forgot a {
  color: #323232;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.button-light.button-shopping-cart {
  position: relative;
  width: 117px;
  height: 32px;
  padding-top: 8px;
  text-align: left;
  padding-left: 44px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  cursor: default;
}

.button-light.button-shopping-cart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: url("../img/icon-shopping-cart-empty.svg") no-repeat;
}

.button-light.button-shopping-cart.full {
  padding-left: 43px;
  color: #323232;
  background: #f8f7f4;
  cursor: pointer;
}

.button-light.button-shopping-cart.full::before {
  background-image: url("../img/icon-shopping-cart-full-border.svg"), url("../img/icon-shopping-cart-full-inner.svg");
  background-position: 0 0, 5px 4px;
  background-repeat: no-repeat, no-repeat;
}

.shopping-cart-box {
/*  display: block;*/
  top: 36px;
  right: 0;
  width: 539px;
  min-height: 242px;
  padding: 18px 14px 20px 15px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.shopping-cart-row a {
  text-decoration: none;
  color: inherit;
}

.shopping-cart-row td {
  vertical-align: top;
  padding: 0;
  padding-bottom: 10px;
}

.shopping-cart-row:last-child td {
  padding-bottom: 14px;
}

.shopping-cart-row td:not(:nth-child(2)){
  padding-top: 9px;
}

.shopping-cart-list {
  width: 510px;
  text-align: center;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 14px;
}

.shopping-cart-row td.column-product-delete {
  width: 17px;
  text-align: left;
  padding-left: 3px;
  padding-top: 8px;
}

.product-delete {
  width: 11px;
  height: 11px;
  background: url("../img/icon-delete.svg") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}

td.column-product-photo {
  font-size: 0;
  width: 40px;
  text-align: center;
}

.column-product-photo img {
  border-radius: 50%;
}

td.column-product-title {
  width: auto;
  text-align: left;
  padding-left: 6px;
  padding-right: 5px;
}

.column-product-set {
  width: 110px;
  text-align: center;
}

.column-product-set span {
  color: #999999;
}

.column-product-cost {
  width: 85px;
  text-align: center;
}

.purchase {
  float: right;
}

.total-cost {
  text-align: right;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin-right: -2px;
}

.button-issue-order {
  box-sizing: border-box;
  width: 170px;
  height: 44px;
  padding-top: 10px;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

/* ↓ слайдер ↓ */

.slider {
  position: relative;
  float: left;  
  width: 910px;
  height: 590px;  
  margin: 10px 0 -26px;
  
/*  background: rgba(255, 0, 0, 0.5);*/
}

.slider-slide {
  position: relative;
  float: left;  
  width: 670px;  
  height: 590px;
  
/*  background: rgba(0, 0, 255, 0.5);*/
}

.slider-slide .promo-photo {
  text-align: center;
}

.slider-slides {
  width: 2010px;
  height: 590px;
}

.slider-inner {
  position: relative;
  width: 670px;
  /*margin: 0 auto;*/
  margin-left: auto;
  overflow: hidden;
}

.slider-slide:last-child .promo-text {
  left: 10px;
  width: 650px;
}

.slider-slide:nth-child(2) .promo-text {
  left: 10px;
}

.promo-photo img {
}

.promo-text {
  position: absolute;
  top: 310px;
  margin: auto;
  width: 670px;
  
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.promo-text p {
  margin: 0;
  
  color: #ffffff;
  text-align: center;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  top: 480px;
  font-size: 0px;
  line-height: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  
  line-height: 0px;
  
  border-radius: 50%;
  background: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.slider-controls label:hover {
  background: rgba(248,247, 244, 0.4);
}

#radio-1:checked ~ .slider-controls label[for="radio-1"],
#radio-2:checked ~ .slider-controls label[for="radio-2"],
#radio-3:checked ~ .slider-controls label[for="radio-3"] {
  background: #ffffff;
}

#radio-1:checked ~ .slider-inner .slider-slides {
  transform: translate(0px);
}

#radio-2:checked ~ .slider-inner .slider-slides {
  transform: translate(-670px);
}

#radio-3:checked ~ .slider-inner .slider-slides {
  transform: translate(-1340px);
}

.button-red {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  
  text-align: center;
  
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button-red:hover {
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
}

.button-red:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: rgba(255, 255, 255, 0.2);
}

.button-red:active {
  box-shadow: inset 0px 2px 2px rgba(172, 16, 0, 1);
}

.button-red:active::before {
  background: rgba(0, 0, 0, 0.07);
}

.slider .button-slider {
  box-sizing: border-box;
  position: absolute;
  bottom: 66px;
  left: 433px;
  width: 280px;
  height: 64px;
  padding-top: 8px;
  text-shadow: 0px 2px 5px #a0200b;  
  font-size: 32px;
  line-height: 44px;  
  border-radius: 50px;
}

/* ↑ слайдер ↑ */


/*  ////////  */


/*  //////////
   ↓ MAIN ↓  
//////////  */

main.container {
  position: relative;
  z-index: 1;
}

/*  ////////  */

.page-title {
  margin: 0;
  margin-bottom: 24px;
}

.filters {
  width: 879px;
  min-height: 140px;
  margin-bottom: 25px;
  font-size: 0;
}

.filters label {
  -webkit-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none;
  user-select: none;
}

.filters p {
  margin-bottom: 6px;
  margin-left: 15px;
}

.filters .filter-col {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  margin-right: 20px;
}

.filter-col:last-child {
  margin-right: 0;
}

.filters-form {
/*  background: rgba(0, 50, 0, 0.5);*/
}

.filters-form > div {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 15px;
  margin-right: 14px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-background {
  font-size: 16px;
  line-height: 18px;
  border-radius: 20px;
  background: rgba(248, 247, 244, 0.2);
}

.filter-sort .filter-sort-content {
  box-sizing: border-box;
  width: 194px;
  height: 36px;
  padding-left: 10px;
  padding-bottom: 2px;
  
  color: #ffffff;
}

.filter-sort .filter-sort-content:hover {
  color: #323232;
  background: #ffffff;  
  cursor: pointer;
}

.filter-sort .filter-sort-content:focus {
  color: #323232;
  background: #ffffff;  
}

.filter-sort-content:focus option {
  font-size: 14px;
  line-height: 16px;
}

.filter-cost input {
  width: 220px;
  height: 36px;
  margin: 0;
  vertical-align: middle;
}

.filter-fat-content {
  box-sizing: border-box;
  width: 414px;
  height: 36px;
  font-size: 0;
  padding-top: 9px;
  padding-left: 15px;
}

.filter-filling-content {
  box-sizing: border-box;
  width: 702px;
  height: 36px;
  font-size: 0;
  padding-top: 9px;
  padding-left: 15px;
}

.filter-fat-content input[type="radio"],
.filter-filling-content input[type="checkbox"] {
  display: none;
}

.filter-fat-content label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.filter-fat-content label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
}

input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: #f8f7f4;
  border-radius: 50%;
}

.filter-filling-content label {
  position: relative;
  padding-left: 33px;
  cursor: pointer;
}

.filter-filling-content label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 5px;
  border-bottom: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: rotate(-45deg);
}

input:not(:disabled) + label:hover::before {
  width: 16px;
  height: 16px;
  border-width: 2px;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
  color: rgba(255, 255, 255, 0.4);
}

input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled + label::after,
input[type="radio"]:disabled + label::before {
  border-color: rgba(255, 255, 255, 0.4);
}
 
input[type="radio"]:disabled + label::after {
  background: rgba(255, 255, 255, 0.4);
}

.filters .button {
  width: 144px;
  height: 36px;
/*  padding-top: 0px;*/
  
  border: 2px solid #ffffff;
  color: #ffffff;
}

.filters .button:hover {
  background: #fbfcfb;
  color: #323232;
  cursor: pointer;
}

.filters .button:active {
  border: none;
  background: #eaeaea;
  color: #323232;
  box-shadow: inset 0px 2px 1px #696969;
}

.catalog {
/*  background: rgba(255, 10, 0, 0.3);*/
}

.catalog-item {
  position: relative;
  float: left;
  width: 267px;
  min-height: 330px;
  margin-right: 26px;
  margin-bottom: 32px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item .cost {
  position: absolute;
  top: 210px;
  
  font-size: 30px;
  line-height: 1em;
}

.cost span:first-child {
  font-size: 45px;
  line-height: 1em;
}

.catalog-item .button {
  display: none;
}

.catalog-item-photo {
  margin: 0;
}

.catalog-item-description {
  width: 257px;
  margin: 7px auto 0;
  font-weight: 500;
  text-align: center;
}

.catalog-item-description span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-pagination {
  float: right;
/*
  width: 190px;
  height: 26px;
*/
  margin-top: 42px;
  margin-bottom: 30px;
  font-size: 0;  
}

.catalog-pagination .pagination-button {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 26px;
  margin-left: 2px;
  padding: 4px;  
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: transparent;  
}

.catalog-pagination .pagination-button.current {
  color: #323232;
  background: #ffffff;
  cursor: default;
}

.catalog-pagination a.pagination-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-button.previous {
  background: url("../img/arrow-left.svg") no-repeat 40% 50%;
}

.pagination-button.next {
  background: url("../img/arrow-right.svg") no-repeat 60% 50%;
}

/*  ////////  */

.banners {
  margin-bottom: 40px;
}

.banners-left {
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 560px;
  min-height: 229px;
  padding: 16px 20px;  
  border-radius: 15px;
  background: #4e8567 url("../img/banner-left-bg.jpg") no-repeat;
  background-size: cover;
}

.banners-right {
  box-sizing: border-box;
  float: right;
  position: relative;
  width: 560px;
  min-height: 229px;
  padding: 16px 20px;  
  border-radius: 15px;
  background: #4e8567 url("../img/banner-right-bg.jpg") no-repeat;
  background-size: cover;
}

.banners h2 {
  margin-bottom: 15px;
  margin-left: -1px;
}

.banners p {
  font-size: 18px;
  line-height: 22px;
}

.button-want {
  position: absolute;
  bottom: 23px;
  right: 21px;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 23px 12px 22px;
  border-radius: 30px;
}

.catalog-item .hit {
  position: absolute;
  top: 0px;
  left: 0px;
}

.dignity {
  box-sizing: border-box;
  width: 1146px;
  min-height: 306px;
  padding: 24px 20px;
  margin-bottom: 40px;  
  border-radius: 15px;
  color: #323232;
  background: #73ae8e url("../img/dignity-bg.jpg");
}

.dignity-title {
  font-size: 24px;
  line-height: 30px;
}

.dignity-left {
  float: left;
  width: 539px;
  min-height: 80px;  
  font-weight: 400;
}

.dignity-right {
  float: right;
  width: 539px;
  min-height: 80px;  
  font-weight: 400;
}

.dignity-description {
  position: relative;
  margin-top: 22px;
  padding-left: 57px;
}

.dignity-description::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 0px;
  width: 49px;
  height: 49px;
}

.dignity-left .dignity-description:first-child::before {
  background: url("../img/icon-ice-cream.svg") no-repeat;
}

.dignity-left .dignity-description:last-child::before {
  background: url("../img/icon-leaf.svg") no-repeat;
}

.dignity-right .dignity-description:first-child::before {
  background: url("../img/icon-cow.svg") no-repeat;
}

.dignity-right .dignity-description:last-child::before {
  background: url("../img/icon-thermometer.svg") no-repeat;
}

.content {
  margin-bottom: 39px;
}

.content-left {
  box-sizing: border-box;
  float: left;
  width: 560px;
  min-height: 220px;
  padding: 22px 20px;
  padding-right: 255px;  
  color: #323232;
  border-radius: 15px;
  background: #acc5b8 url("../img/content-left-bg.jpg") no-repeat;
  background-size: cover;
}

.content-left h2 {
  font: inherit;
  font-weight: 500;
  margin-bottom: 5px;
}

.content-left a {
  color: inherit;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  border-bottom: 2px solid #323232;
}

.content-left a:hover {
  color: #e84d37;
  border-color: #ec593c;
}

.content-left a:active {
  color: #e84d37;
  border-color: #ec593c;
}

.content-right {
  position: relative;
  box-sizing: border-box;
  float: right;
  width: 560px;
  min-height: 220px;
  padding: 34px 27px;
  font-weight: 400;  
  color: #5a5a5a;
  border-radius: 15px;
  background: #acc5b8 url("../img/content-right-bg.png") no-repeat;
  background-size: cover;
}

.input-field {
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  color: #999999;
  background: #ffffff;
  font-weight: 400;
}

.input-field:hover {
  padding-left: 14px;
  padding-right: 14px;
  border: 2px solid rgba(154, 154, 154, 0.52);  
}

.input-field:focus {
  padding-left: 14px;
  padding-right: 14px;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscribe input[type="email"] {
  position: absolute;
  bottom: 40px;
  left: 26px;
  width: 368px;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
}

.button-subscribe-send {
  position: absolute;
  bottom: 41px;
  right: 26px;
  width: 129px;
  height: 44px;
  padding-bottom: 4px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 24px;
}

.location {
  position: relative;
  width: 1200px;
  min-height: 430px;
  margin-left: -27px;  
/*
  font-size: 0px;
  line-height: 0px;
*/
  
}

.location-communication {
  box-sizing: border-box;
  position: absolute;
  top: 63px;
  right: 27px;
  width: 302px;  
  min-height: 305px;
  padding: 29px 25px;  
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;  
  color: #323232;  
  border-radius: 15px;
  background: #fefefe;
}

.button-feedback {
  box-sizing: border-box;
  width: 252px;
  height: 44px;
  padding-top: 9px;
  margin-top: 9px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 24px;
}

.location-communication p {
  margin-bottom: 14px;
}

.location-communication p:last-of-type::first-line {
  line-height: 29px;
}

.location-communication b {
  font-size: 18px;
  line-height: 24px;
}

.location-communication .phone {
  text-decoration: none;
  color: #323232;
  line-height: 22px;
}

.phone ~ span {
  line-height: 22px;
}

.feedback-box {
/*  display: block;*/
  top: -1545px;
  left: 602px;
  margin-left: -239px;
  width: 477px;
  height: 442px;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: none;
  font-size: 16px;
  line-height: 24px;
}

.feedback-box p {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 19px;
}

.feedback-box-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 17px;
  height: 17px;
  background: url("../img/icon-delete.svg") no-repeat 50% 50%;
  background-size: cover;
  cursor: pointer;
}

.feedback-box input {
  width: 267px;
  height: 44px;
  margin-bottom: 20px;
}

.input-field-commentary {
  box-sizing: border-box;
  width: 428px;
  height: 155px;
  resize: none;
  margin-bottom: 18px;
}

.input-field-commentary:hover,
.input-field-commentary:focus {  
  padding-top: 9px;
}

.button-feedback-send {
  left: 100%;
  width: 138px;
  height: 44px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 24px;
  margin-left: -138px;
}

/*  //////////
  ↓ FOOTER ↓  
//////////  */

.page-footer {
  padding-top: 0px;
  padding-bottom: 25px;
}

.page-footer-social {
  box-sizing: border-box;
  float: left;
  width: 267px;
  min-height: 103px;
  margin-right: 26px;
  padding-top: 36px;
  padding-left: 1px;
  font-size: 0;
}

.page-footer-social .social-button {
  display: inline-block;
  vertical-align: bottom;
  width: 31px;
  height: 31px;
  margin-right: 12px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.page-footer-social .social-button:hover {
  border-color: rgba(255, 255, 255, 0.71);
  opacity: 1;
}

.page-footer-social .social-button:active {
  box-shadow: inset 0 2px 1px #888888;
  border-color: rgba(254, 254, 254, 0.7);
}

.social-button-tw {
  background: url("../img/icon-twitter.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.social-button-inst {
  background: url("../img/icon-instagram.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.social-button-fb {
  background: url("../img/icon-facebook.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.social-button-vk {
  background: url("../img/icon-vkontakte.svg") no-repeat 50% 50%;
  opacity: 0.8;
}

.page-footer-menu {
  float: left;
  box-sizing: border-box;  
  width: 560px;
  min-height: 103px;
  padding-top: 31px;
  padding-left: 130px;
}

.page-footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer-menu a {  
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.page-footer a:hover,
.page-footer a:active {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}

.list-item-about:first-child a:first-child {
  position: relative;
  font-weight: 700;
  margin-right: 28px;
}

.list-item-about:first-child a:first-child::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  left: -22px;
  top: 2px;
  background: url("../img/icon-heart.svg") no-repeat 50% 50%;
}

.list-item-about:last-child a:first-child {
  margin-right: 40px;
}

.page-footer-copyright {
  box-sizing: border-box;
  float: right;
  width: 267px;
  min-height: 103px;
  padding-top: 19px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.page-footer-copyright .page-footer-logo {
  width: 108px;
  height: 38px;
  margin: 0 auto 4px;
/*
  margin-bottom: 4px;
  margin-left: 77px;
*/
}

.page-footer-copyright .made-in {
  text-align: right;
}

.made-in a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

